.button {
  background-color: #33ae74;
  transition: background-color 0.5s ease-out;
}

.button.is-active {
  color: #1ce;
}

 backgroundButton.addEventListener('click', _ => backgroundButton.classList.toggle('is-active'));
 
		<script src="css/style.css" crossorigin="anonymous"></script>